@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
.logo-wrapper{
    display: flex;
    min-width: 10rem;
    min-height: inherit;
    align-items: center;
    cursor: pointer;
}
.logo-container img{
    height: 45px;
    width: 45px;
}
.company-name{
    width: 100%;
    height: 100%;
    line-height: 1.5rem;
    padding: 0.2em 0 0 0.2em;
    animation: fadeIn 1s ease-in-out;
}
@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.company-name span{
    display: block;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.8em;
}
.company-name span:first-child{
    color: #4d4d4d;
}
.company-name span:last-child{
    color: #414f6b;
    letter-spacing: 1px;
}
footer .logo-wrapper .company-name span{
    color: #ffffff;
}